*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
}

/*       Header Page            */

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 70px;
    align-items: center;
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    background-color: #ddd;
}

header h1 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}

header h1::before{
    content: "Hat";
    position: absolute;
    height: 30px;
    width: 30px;
    color: #fff;
    background-color: #6752EA;
    border-radius: 30% 30% 0 30%;
    z-index: 1;
}

header h1::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 165px;
    top: 53px;
    left: 80px;
    background-color: #6752EA;
    z-index: 1;
}

header nav {
    width: 485px;
    height: 31px;
    font-family: 'Circular';
    font-weight: 500;
}

header nav ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header nav ul a {
    text-decoration: none;
    font-size: 18px;
    padding: 3px 7px;
}

header nav ul a:hover {
    border-bottom: 5px solid #6752EA;
}

.icons {
    width: 130px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.icons i {
    padding: 0 5px;
    transition: 0.2s;
}

.icons i:hover {
    color: #6752EA;
    cursor: pointer;
    transform: scale(1.13);
}

/*       Main Page            */

main {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 131px;
    background: url(image/background.jpg);
    filter: brightness(0.9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .contaner {
    display: flex;
    width: 865px;
    height: 100%;
    margin-left: 70px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

main h3 {
    font-size: 50px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
}

main p {
    font-size: 80px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;

}

main p span {
    color: #6752EA;
    text-decoration: underline;
}

.contaner .but {
    display: flex;
    width: 65%;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.contaner .but a {
    display: flex;
    height: 80px;
    width: 250px;
    border-radius: 40px;
    background-color: #6752EA;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: 0.7s ease;
}

.contaner .but .contact-but {
    background-color: #ffffff;
    color: #505051;
}

.contaner .but a:hover{
    transform: scale(1.07);
    background-color: #6752EA;
    color: #fff;
}

/*       About me Page            */

.about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0 50px;
    background-color: #403396;
}

.about_me h3 {
    text-align: center;
    margin: 4rem 0 2rem;
    font-size: 40px;
    color: #ddd;
}

.about_me .contaner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_me .contaner p {
    width: 500px;
    height: 500px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ddd;
    line-height: 1.5;
    text-align: justify;
    font-weight: 600;
    padding: 50px 0;
    margin: 0 100px;
}

.about_me .contaner p span{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    margin-left: 168px;
    text-shadow: 4px 5px 4px black;
}

.about_me .image {
    width: 380px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_me .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 5px #8A8072 solid;
    border-radius: 20px;
    transform: rotate(3deg);
    box-shadow: 10px 8px 2px black;
    transition: 0.3s;
}

.about_me .image img:hover {
    transform: rotate(0deg);
    box-shadow: 0px 0px 0px black;
}

/*       Projects Page            */

.projects {
    min-height: 60vh;
    padding-top: 40px;
    background-color: #ddd;
}

.projects h3 {
    text-align: center;
    margin: 4rem 0 2rem;
    font-size: 40px;
    color: #6752EA;
}

.projects .projects-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.projects .item {
    max-width: 320px;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    margin: 30px;
    border: 2px solid #505051;
    border-radius: 35px;
    padding-bottom: 20px;
    transition: 0.4s;
    
}

.projects .item img {
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
}

.projects .item p {
    font-size: 20px;
    font-weight: 600;
    color: #6752EA;
}

.projects .item:hover {
    transform: scale(1.1);
}

/*       Services Page            */

.services {
    min-height: 60vh;
    padding-top: 40px;
    background-color: #403396;
}

.services h3 {
    text-align: center;
    padding: 4rem 0 10px;
    font-size: 40px;
    color: #ddd;
    text-transform: uppercase;
}

.services h3 span {
    color: #6752EA;
    text-shadow: 2px 2px 5px #000;
}

.services .title {
    text-align: center;
    font-size: 14px;
    color: #ffffff82;
}

.services-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 25px 70px 35px;
}

.services-items .item {
    display: flex;
    width: 320px;
    height: 288px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #262626;
    border-radius: 15px;
}

.services-items .item i {
    font-size: 50px;
    color: #ddd;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 20px;
    margin: 20px;
}

.services-items .item h4 {
    font-size: 18px;
    color: #ddd;
    text-shadow: 2px 2px 5px #000;
    text-transform: uppercase;
}

.services-items .item p {
    font-size: 14px;
    padding: 15px;
    color: #6752EA;
    text-shadow: 1px 1px 5px #000;
}

/*       Contact Page            */

.contact {
    padding-top: 40px;
    background-color: #ddd;
    padding: 25px 70px 45px;

}

.contact h3 {
    text-align: center;
    margin: 4rem 0 2rem;
    font-size: 40px;
    color: #6752EA;
}

.contact .container {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.contact .massage {
    display: flex;
    width: 50%;
    height: 500px;
    padding: 50px 25px;
    border: 2px solid #000;
    border-radius: 30px;
    align-items: center;
    background-color: #403396;
}

.contact .massage input {
    width: 100%;
    height: 50px;
    background-color: #ddd;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 30px;
}

.contact .massage #msg {
    height: 120px;
    width: 100%;
    background-color: #ddd;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 30px;
    resize: none;
    overflow: hidden;
}

.contact .massage #btn {
    margin-bottom: 0;
    padding: 0;
    line-height: 50px;
    font-weight: bold;
    transition: all 0.3s;
}

.contact .massage #btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.contact .image {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 50%;
}

.contact .image img {
    position: relative;
    width: 80%;
    border-radius: 20px;
    border: 2px solid #000;
    object-fit: cover;

}

/*       Footer Page            */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #6752EA;
}

footer .info a {
    display: block;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid #000;
    color: #000;
    transition: 0.3s;
}

footer .info a:hover {
    color: #fff;
}

footer .info span {
    font-weight: bold;
    color: #000;
}

footer .icons {
    width: 150px;
    font-size: 18px;
}

footer .icons i {
    color: #000;
}

footer .icons i:hover {
    color: #fff;
}


/*           Media Section         */

@media (max-width: 1200px) {

    header h1 {font-size: 16px;}
    header nav {width: 415px;}
    header h1::before {height: 27px; width: 27px;}
    header h1::after {height: 4px; width: 145px; top: 52px;}
    header nav ul a {font-size: 17px;}
    .icons {width: 120px;}

    main .contaner {width: 730px;}
    main h3 {font-size: 40px; letter-spacing: 2px;}
    main p {font-size: 60px;}
    main .contaner .but {width: 475px;}
    main .contaner .but a {height: 68px; width: 215px; font-size: 18px;}

    .about_me .contaner p {width: 400px; height: 400px; font-size: 14px; font-weight: 600; margin: 0 50px;}
    .about_me .contaner p span{font-size: 22px;}
    .about_me .image {width: 260px; height: 360px;}

    .services-items .item {width: 280px; height: 260px;}
    .services-items .item i {font-size: 45px;}
    .services-items .item h4 {font-size: 17px;}
    .services-items .item p {font-size: 13px; padding: 13px;}

    .contact .massage {min-width: 500px;}
    .contact .image {display: none;}

}

@media (max-width: 900px) {
    header nav {width: 380px;}
    .services-items .item {width: 280px; height: 260px;}
}

@media (max-width: 815px) {
    header nav {display: none;}
    header h1::after {top: 49px;}

    .about_me .contaner {flex-direction: column;}
    .about_me .contaner p {width: 500px; height: 500px; font-size: 18px;}
    .about_me .contaner p span {margin-left: 180px;}
    .about_me .image {width: 355px; height: 470px;}

    .services-items .item {width: 320px; height: 288px;}

    .contact .massage {max-width: 400px;}

    footer {padding: 10px 30px;}
}

@media (max-width: 600px) {
    header {padding: 25px;}
    header h1::after {left: 40px;}

    main .contaner {margin: 0 50px; width: calc(100% - 100px);}
    main .contaner .but {flex-direction: column; height: 160px; margin: 30px 0;}

    .about_me .contaner p {width: 400px; height: 400px; margin: 50px; font-size: 17px; padding: 0;}
    .about_me .contaner p span {margin-left: 104px; font-size: 21px;}

    .services-items {padding: 25px 0 35px;}
}

@media (max-width: 500px) {
    main h3 { font-size: 32px; letter-spacing: 1px;}
    main p { font-size: 50px;}

    .about_me .contaner p { width: 350px; height: 300px; margin: 25px; font-size: 13px;}
    .about_me .contaner p span { margin-left: 163px; font-size: 19px;}
    .about_me .image { width: 315px; height: 420px;}

    .contact .massage { min-width: 375px; height: 441px; padding: 35px 18px;}

    footer {padding: 10px 16px;}
    footer .info a {font-size: 13px;}
    footer .icons { width: 120px; font-size: 16px;}
}

@media (max-width: 400px) {
    header {padding: 18px;}
    header h1::after {width: 133px; top: 42px;}
    header .icons {width: 95px;}

    main .contaner {margin: 0 40px; width: calc(100% - 80px);}
    main p {font-size: 41px; }

    .about_me .contaner p { width: 300px; height: 300px; margin: 15px; font-size: 12px;}
    .about_me .contaner p span { margin-left: 118px; font-size: 18px;}
    .about_me .image {width: 280px; height: 370px;}
    
    .projects .item {max-width: 300px; margin: 15px;}
    .projects .item img {width: 260px;}

    .contact .massage {min-width: 300px; height: 400px;}
    .contact .massage input {margin-bottom: 15px;}

    footer .info a {font-size: 9px;}
    footer .icons {width: 100px; font-size: 14px;}
}
